<div class="container">
  <header class="hero">
    <div class="hero-content">
      <h1>Train Ticket Booking</h1>
      <p>Book your train journeys with ease.</p>
      <form
        [formGroup]="trainSearchForm"
        (ngSubmit)="onSubmit()"
        class="search-form"
      >
        <div class="search-bar">
          <input
            type="text"
            placeholder="From Station"
            formControlName="from"
            class="search-input"
            required
          />
          <!-- <span
            *ngIf="
              trainSearchForm.controls['from'].invalid &&
              trainSearchForm.controls['from'].touched
            "
            class="error-message"
          >
            From station is required.
          </span> -->

          <input
            type="text"
            placeholder="To Station"
            formControlName="to"
            class="search-input"
            required
          />
          <!-- <span
            *ngIf="
              trainSearchForm.controls['to'].invalid &&
              trainSearchForm.controls['to'].touched
            "
            class="error-message"
          >
            To station is required.
          </span> -->

          <button
            type="submit"
            class="search-btn"
            [disabled]="trainSearchForm.invalid"
          >
            Search Trains
          </button>
        </div>
      </form>
    </div>
  </header>

  <div *ngIf="isLoading" class="loader-container">
    <div class="loader"></div>
  </div>

  <div *ngIf="trains.length > 0" class="train-results">
    <h2>Available Trains</h2>
    <p class="train-count">
      There are {{ trains.length }} trains between {{ searchedFrom }} and
      {{ searchedTo }}.
    </p>
    <table class="train-table">
      <thead>
        <tr>
          <th>Train Name</th>
          <th>Train No.</th>
          <th>Arrival</th>
          <th>Departure</th>
          <th>Fare</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let train of trains" class="train-row">
          <td>{{ train.train_name }}</td>
          <td>{{ train.train_number }}</td>
          <td>{{ train.arrival_time }}</td>
          <td>{{ train.departure_time }}</td>
          <td>₹{{ train.fare }}</td>
          <td><button class="btn-book">Book Now</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
